{% extends "learning_logs/base.html" %}

{% block content %}

  <!-- 如果表单的error属性被设置，显示一条错误信息 -->
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'users:login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  	
  <!-- 添加一个提交按钮 -->	
  <button name='submit'>log in</button>
  <!-- 隐藏的表单元素'next'，其中的实参value指定用户成功登录后将重定向到的页面 -->
  <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>

{% endblock content %}