<p> 
  <!-- {/% /%}模板标签，生成要在网页中显示的信息 -->
  <!-- 该实例生成一个URL，其中learning_logs是一个命名空间，index是在命名空间下一个独特的URL模式 -->
  <a href="{% url 'learning_logs:index' %}">Learning Log</a> - 
  <a href="{% url 'learning_logs:topics' %}">Topics</a> - 
  {% if user.is_authenticated %}
    Hello,{{ user.username }}.
    <a href="{% url 'users:logout' %}">log out</a>
  {% else %}
    <a href="{% url 'users:register' %}">register</a> - 
    <a href="{% url 'users:login' %}">log in</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}