{% extends "learning_logs/base.html" %}

{% block content %}
	<p>Specifying a namespace in include() without providing an app_name '
	django.core.exceptions.ImproperlyConfigured: Specifying a namespace in include() without providing an app_name is not supported. Set the app_name attribute in the included module, or pass a 2-tuple containing the list of patterns and app_name instead.django.core.exceptions.ImproperlyConfigured: Passing a 3-tuple to include() is not supported.</p>
{% endblock content %}